.task-list-container{
  .title{
    margin-bottom: 20px;
  }
}
.task-list{
  list-style: none;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-left: 1px solid var(--gray);

  &__item{
    border-bottom: 1px solid var(--gray);
    padding: 15px;
    &:hover{
      background-color: var(--gray);
    }
  }
}